*{
    padding: 0px;
    margin:width;
    box-sizing: border-box;
}

body{
    background-image: url(1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}


.logo{
    float: left;
    width: auto;
    height: 20vh;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffffff;
    font-weight: 300;
    font-size: 40px;

    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: 3px;
    transition: background-color 0.2s,border 0.2s,margin 0.2s;
}

.main-nav{
    float: right;
   margin-top: 50px;
    font-weight: 400;

  padding-right:  600px;
    text-decoration: none;
    border-radius: 12px;
margin: 0px;


}
.main-nav a:link,
.main-nav  a:visited{
    display: inline-block;
    padding:20px;

   border:1px solid #e67e22;
       color:white;
margin:30px;
  text-decoration: none;
border-radius: 12px;

background-color: #e67e22;
      border:1px solid #e67e22;
    margin-right: 15px;
}




.main-nav a:hover,
.main-nav a:active{
    display: inline-block;
    border:10px solid #e67e22;
    color:#FFFFFF;
margin:0px;
border:1px solid #e67e22;
  text-decoration: none;
border-radius: 12px;
}
